@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poppins:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.navbar {
  background-color: #012a4a;
}

.navbar .container-fluid {
  padding: 0 40px;
}

.nav-link::after {
  content: " ";
  display: block;
  width: 0px;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width .3s;
}

.navbar-nav li {
  margin-left: 25px;
  display: inline-block;
}

.navbar-nav li a {
  text-decoration: none;
}

.navbar-nav .nav-item .nav-link {
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: 'Fira Code', monospace;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background: #012a4a;
  clip-path: polygon(100% 0, 100% 96%, 73% 80%, 0 96%, 0 0);
}

.inner-section {
  width: 1024px;
  margin: 0 auto;
}

.header-container {
  color: #fff;
  position: relative;
}

.header-container .inner-section {
  padding: 100px 0;
}

.header-container .inner-section .content h5 {
  font-size: 17px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
}

.header-container .inner-section .content span {
  font-weight: bold;
}

.header-container .inner-section .content h1 {
  font-size: 62px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  opacity: 0.7;
}

.header-container .inner-section .content h2 {
  font-size: 62px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  opacity: 0.5;
}

.header-container .inner-section .content p {
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
}

.header-container .inner-section .content .btn,
.contact-content .btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #012a4a;
  color: #fff;
}

.header-container .inner-section .content a:hover {
  background-color: #fff;
  color: #012a4a;
}

.contact-content a:hover {
  background-color: #fff;
  color: #012a4a;
}

.view a {
  margin-top: 10px;
  padding: 5px 20px;
  font-size: 16px;
  background-color: #012a4a;
  color: #fff;
}

.view a:hover {
  background-color: #fff;
  color: #012a4a;
}

/*-----aboutsection-----*/
.about-section {
  color: #333;
  background-color: #fff;
}

.about-section h1 {
  text-align: center;
  padding: 30px 0 30px 0;
  font-weight: bold;
  color: #012a4a;
}

.about-section .inner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.about-section .inner-section .content {
  width: 50%;
}

.about-section .inner-section .content p {
  font-size: 16px;
}

.inner-section .picture {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inner-section .picture img {
  width: 250px;
  height: auto;
  box-shadow: 22px -19px 0px 2px rgba(1, 42, 74, 1);
  -webkit-box-shadow: 22px -19px 0px 2px rgba(1, 42, 74, 1);
  -moz-box-shadow: 22px -19px 0px 2px rgba(1, 42, 74, 1);
}

.skills-section {
  background-color: #012a4a;
  color: #fff;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.skills-section .inner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.skills-section .inner-section .content {
  width: 40%;
}

.outer-circle {
  position: relative;
  height: 500px;
  width: 500px;
  background-color: #fff;
  border-radius: 250px;
  background-color: #f5f5f5;
  padding: 25px;
}

.inner-circle {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: skyblue;
  border-radius: 50px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e3d59;
  color: #f5f5f5;
}

.exp {
  visibility: hidden;
  width: 120px;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100px;
}

.inner-circle:hover .tooltiptext {
  visibility: visible;
  background-color: #012a4a;
  color: #fff;
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 13px;
}

.inner-circle i {
  font-size: 50px;
}

#one {
  top: 10px;
  left: 200px;
}

#two {
  bottom: 10px;
  left: 200px;
}

#three {
  top: 200px;
  left: 10px;
}

#four {
  bottom: 200px;
  right: 10px;
}

#five {
  top: 200px;
  left: 200px;
}

#six {
  top: 70px;
  left: 70px;
}

#seven {
  top: 70px;
  right: 70px;
}

#eight {
  bottom: 70px;
  left: 70px;
}

#nine {
  bottom: 70px;
  right: 70px;
}

.projects-section {
  color: #333;
}

.projects-section h1 {
  text-align: center;
  padding: 50px 0 20px 0;
  font-weight: bold;
  color: #012a4a;
}

.projects-section .inner-section {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  grid-gap: 20px;
  padding: 40px 0 80px 0;
}

.projects-section .inner-section .project {
  border: 1px solid white;
  padding: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  color: #333;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.view {
  text-align: left;
}

.view a {
  font-size: 14px;
}

.projects-section .inner-section .project .const {
  width: 250px;
  height: 225px;
}

.projects-section .inner-section .project:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.projects-section .inner-section .project .button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-button i {
  color: #012a4a;
  font-size: 20px;
}

.projects-section .inner-section .project .button-row h4 {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
}

.projects-section .inner-section .project .project-details p {
  font-size: 15px;
  padding: 10px 0;
  font-weight: 500;
}

.projects-section .inner-section .project .tools-used ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.projects-section .inner-section .project .tools-used ul li {
  font-size: 13px;
  margin-right: 20px;
  font-weight: 500;
  font-family: 'Fira Code', monospace;
}

.contact-section h1 {
  text-align: center;
  padding: 50px 0 0 0;
  color: #333;
  font-weight: bold;
  color: #012a4a;
}

.contact-section .inner-section {
  display: block;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 60px 0;
}

.contact-section .inner-section .contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-section .inner-section .contact-icon .icon {
  margin-right: 20px;
}

.contact-section .inner-section .contact-icon .icon a {
  text-decoration: none;
  color: #012a4a;
}

.contact-section .inner-section .contact-content p {
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
}

footer {
  background-color: #012a4a;
  color: #fff;
}

footer p {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  font-family: 'Fira Code', monospace;
}

footer hr {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 575.98px) {
  nav {
    width: auto;
    color: #fff;
  }

  nav a {
    color: #fff;
  }

  .header::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: #012a4a;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 80%);
  }

  .header-container .inner-section {
    padding: 40px 0;
    position: relative;
  }

  .header-container .inner-section .content h5 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
  }

  .header-container .inner-section .content h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  .header-container .inner-section .content h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  .header-container .inner-section .content p {
    font-size: 13px;
    font-weight: normal;
    margin-top: 20px;
  }

  .header-container .inner-section .content button {
    margin-top: 15px;
    padding: 8px 20px;
    font-size: 14px;
  }

  .content {
    padding: 0 25px;
    width: 100%;
  }

  /**---- about ---*/
  .about-section {
    width: 100%;
  }

  .about-section h1 {
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
  }

  .about-section .inner-section {
    display: block;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
  }

  .about-section .inner-section .content {
    width: 100%;
  }

  .about-section .inner-section .content p {
    font-size: 13px;
  }

  .inner-section .picture {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner-section .picture img {
    width: 70%;
    height: auto;
    margin-top: 20px;
  }

  /*****skills*****/
  .skills-section {
    width: 100%;
  }

  .skills-section .inner-section {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
  }

  .skills-section h1 {
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
    text-align: center;
  }

  .skills-section .inner-section .content {
    width: 100%;
  }

  .skills-section .inner-section .content p {
    font-size: 13px
  }

  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .outer-circle {
    position: relative;
    height: 300px;
    width: 300px;
    background-color: #fff;
    border-radius: 150px;
    background-color: #f5f5f5;
  }

  .inner-circle {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: skyblue;
    border-radius: 25px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e3d59;
    color: #f5f5f5;
  }

  .exp {
    visibility: hidden;
    width: 120px;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 40px;
  }

  .inner-circle:hover .tooltiptext {
    visibility: visible;
    background-color: #012a4a;
    color: #fff;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 10px;
  }

  .inner-circle i {
    font-size: 25px;
  }

  #one {
    top: 10px;
    left: 125px;
  }

  #two {
    bottom: 10px;
    left: 125px;
  }

  #three {
    top: 125px;
    left: 10px;
  }

  #four {
    bottom: 125px;
    right: 10px;
  }

  #five {
    top: 125px;
    left: 125px;
  }

  #six {
    top: 70px;
    left: 70px;
  }

  .projects-section .inner-section {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  .projects-section .inner-section .project {
    border: 1px solid white;
    padding: 20px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
  }

  .inner-section {
    width: 100%;
  }

  .projects-section {
    background-color: #012a4a;
    color: #333;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .projects-section h1 {
    text-align: center;
    color: #fff;
  }

  .projects-section .inner-section .project {
    border: 1px solid white;
    padding: 20px;
    color: #fff;
  }

  .project-button i {
    color: #fff;
    font-size: 20px;

    .projects-section .inner-section .project .button-row h4 {
      font-size: 16px;
      padding: 10px 0;
      font-weight: bold;
    }

    .projects-section .inner-section .project .project-details p {
      font-size: 13px;
      padding: 10px 0;
    }

    .projects-section .inner-section .project .tools-used ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      padding: 0;
    }

    .projects-section .inner-section .project .tools-used ul li {
      font-size: 12px;
      margin-right: 20px;
    }

    .contact-section h1 {
      text-align: center;
      color: #333;
    }

    .contact-section .inner-section {
      display: block;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    .contact-section .inner-section .contact-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .contact-section .inner-section .contact-icon .icon {
      margin-right: 20px;
    }

    .contact-section .inner-section .contact-content p {
      padding: 14px 0;
      font-size: 14px;
      color: #333;
    }

    footer p {
      font-size: 13px;
      padding: 15px 20px;
    }
  }

  @media screen and (min-width: 575.98px) and (max-width: 767.98px) {
    nav {
      width: auto;
      color: #fff;
    }

    nav a {
      color: #fff;
    }

    .header::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 700px;
      background: #012a4a;
      clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 80%);
    }

    .header-container .inner-section {
      padding: 40px 0;
      position: relative;
    }

    .header-container .inner-section .content h5 {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      margin-bottom: 20px;
    }

    .header-container .inner-section .content h2 {
      font-size: 30px;
      font-weight: bold;
      margin: 0;
      text-transform: uppercase;
    }

    .header-container .inner-section .content p {
      font-size: 14px;
      font-weight: normal;
      margin-top: 20px;
    }

    .header-container .inner-section .content button {
      margin-top: 15px;
      padding: 8px 20px;
      font-size: 14px;
    }

    .content {
      padding: 0 25px;
      width: 100%;
    }

    /**---- about ---*/
    .about-section {
      width: 100%;
    }

    .about-section h1 {
      font-size: 20px;
      padding: 10px 0;
      margin: 0;
    }

    .about-section .inner-section {
      display: block;
      box-sizing: border-box;
      padding: 0;
      width: 100%;
    }

    .about-section .inner-section .content {
      width: 100%;
    }

    .about-section .inner-section .content p {
      font-size: 14px;
    }

    .inner-section .picture {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .inner-section .picture img {
      width: 50%;
      height: auto;
    }

    /*****skills*****/
    .skills-section {
      width: 100%;
    }

    .skills-section .inner-section {
      display: block;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 40px 0;
    }

    .skills-section h1 {
      font-size: 25px;
      padding: 10px 0;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
    }

    .skills-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .outer-circle {
      position: relative;
      height: 300px;
      width: 300px;
      background-color: #fff;
      border-radius: 150px;
      background-color: #f5f5f5;
    }

    .inner-circle {
      position: absolute;
      height: 50px;
      width: 50px;
      background-color: skyblue;
      border-radius: 25px;
      border: 1px solid black;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1e3d59;
      color: #f5f5f5;
    }

    .inner-circle i {
      font-size: 25px;
    }

    #one {
      top: 10px;
      left: 125px;
    }

    #two {
      bottom: 10px;
      left: 125px;
    }

    #three {
      top: 125px;
      left: 10px;
    }

    #four {
      bottom: 125px;
      right: 10px;
    }

    #five {
      top: 125px;
      left: 125px;
    }

    #six {
      top: 70px;
      left: 70px;
    }

    .projects-section .inner-section {
      display: block;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;
    }

    .projects-section .inner-section .project {
      border: 1px solid white;
      padding: 20px;
      color: orange;
      width: 100%;
      position: relative;
      margin-bottom: 10px;
    }

    .inner-section {
      width: 100%;
    }

    .projects-section {
      background-color: #012a4a;
      color: #333;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .projects-section h1 {
      text-align: center;
      color: #fff;
    }

    .projects-section .inner-section .project {
      border: 1px solid white;
      padding: 20px;
      background-color: #;
      color: #fff;
    }

    .projects-section .inner-section .project .button-row h4 {
      font-size: 16px;
      padding: 10px 0;
    }

    .projects-section .inner-section .project .project-details p {
      font-size: 13px;
      padding: 10px 0;
    }

    .projects-section .inner-section .project .tools-used ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      padding: 0;
    }

    .projects-section .inner-section .project .tools-used ul li {
      font-size: 12px;
      margin-right: 20px;
    }

    .contact-section h1 {
      text-align: center;
      color: #333;
    }

    .contact-section .inner-section {
      display: block;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    .contact-section .inner-section .contact-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .contact-section .inner-section .contact-icon .icon {
      margin-right: 20px;
    }

    .contact-section .inner-section .contact-content p {
      padding: 14px 0;
      font-size: 14px;
      color: #333;
    }

    footer p {
      font-size: 13px;
      padding: 15px 20px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    nav {
      width: auto;
      color: #fff;
    }

    nav a {
      color: #fff;
    }

    .inner-section {}

    .header::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 700px;
      background: #012a4a;
      clip-path: polygon(100% 0, 100% 96%, 73% 80%, 0 96%, 0 0);
    }

    .header-container .inner-section {
      padding: 40px 0;
      position: relative;
    }

    .header-container .inner-section .content h5 {
      font-size: 15px;
      font-weight: normal;
      margin: 0;
      margin-bottom: 20px;
    }

    .header-container .inner-section .content h2 {
      font-size: 45px;
      font-weight: bold;
      margin: 0;
      text-transform: uppercase;
    }

    .header-container .inner-section .content p {
      font-size: 14px;
      font-weight: normal;
      margin-top: 20px;
    }

    .header-container .inner-section .content button {
      margin-top: 15px;
      padding: 8px 20px;
      font-size: 14px;
    }

    .content {
      padding: 0 25px;
      width: 100%;
    }

    /**---- about ---*/
    .about-section {
      width: 100%;
    }

    .about-section h1 {
      font-size: 30px;
      padding: 10px 0;
      margin: 0;
    }

    .about-section .inner-section {
      display: flex;
      box-sizing: border-box;
      padding: 0;
      width: 100%;
    }

    .about-section .inner-section .content {
      width: 100%;
    }

    .about-section .inner-section .content p {
      font-size: 14px;
    }

    .inner-section .picture {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .inner-section .picture img {
      width: 50%;
      height: auto;
    }

    /*****skills*****/
    .skills-section {
      width: 100%;
    }

    .skills-section .inner-section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 40px 0;
    }

    .skills-section h1 {
      font-size: 30px;
      padding: 10px 0;
      margin: 0;
      text-align: center;
    }

    .skills-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .outer-circle {
      position: relative;
      height: 300px;
      width: 300px;
      background-color: #fff;
      border-radius: 150px;
      background-color: #f5f5f5;
    }

    .inner-circle {
      position: absolute;
      height: 50px;
      width: 50px;
      background-color: skyblue;
      border-radius: 25px;
      border: 1px solid black;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1e3d59;
      color: #f5f5f5;
    }

    .inner-circle i {
      font-size: 25px;
    }

    #one {
      top: 10px;
      left: 125px;
    }

    #two {
      bottom: 10px;
      left: 125px;
    }

    #three {
      top: 125px;
      left: 10px;
    }

    #four {
      bottom: 125px;
      right: 10px;
    }

    #five {
      top: 125px;
      left: 125px;
    }

    #six {
      top: 70px;
      left: 70px;
    }

    .projects-section .inner-section {
      display: grid;
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;
    }

    .projects-section .inner-section .project {
      border: 1px solid white;
      padding: 20px;
      color: orange;
      width: 100%;
      position: relative;
      margin-bottom: 10px;
    }

    .inner-section {
      width: 100%;
    }

    .projects-section {
      background-color: #fff;
      color: #333;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .projects-section h1 {
      text-align: center;
      color: #012a4a;
    }

    .projects-section .inner-section .project {
      border: 1px solid white;
      padding: 20px;
      background-color: #;
      color: #333;
    }

    .projects-section .inner-section .project .button-row h4 {
      font-size: 16px;
      padding: 10px 0;
    }

    .projects-section .inner-section .project .project-details p {
      font-size: 13px;
      padding: 10px 0;
    }

    .projects-section .inner-section .project .tools-used ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      padding: 0;
    }

    .projects-section .inner-section .project .tools-used ul li {
      font-size: 12px;
      margin-right: 20px;
    }

    .contact-section h1 {
      text-align: center;
      color: #333;
    }

    .contact-section .inner-section {
      display: block;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    .contact-section .inner-section .contact-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .contact-section .inner-section .contact-icon .icon {
      margin-right: 20px;
    }

    .contact-section .inner-section .contact-content p {
      padding: 14px 0;
      font-size: 14px;
      color: #333;
    }

    footer p {
      font-size: 13px;
      padding: 15px 20px;
    }
  }

  @media screen and (min-width: 991.98px) and (max-width: 1199.98px) {
    .header::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 700px;
      background: #012a4a;
      clip-path: polygon(100% 0, 100% 96%, 73% 80%, 0 96%, 0 0);
    }

    .inner-section {
      width: 1024px;
      margin: 0 auto;
    }

    .header-container {
      color: #fff;
      position: relative;
    }

    .header-container .inner-section {
      padding: 100px 0;
    }

    .header-container .inner-section .content h5 {
      font-size: 18px;
      font-weight: normal;
      margin: 0;
      margin-bottom: 20px;
      letter-spacing: 0.1rem;
    }

    .header-container .inner-section .content h2 {
      font-size: 62px;
      font-weight: bold;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }

    .header-container .inner-section .content p {
      font-size: 14px;
      font-weight: normal;
      margin-top: 20px;
    }

    .header-container .inner-section .content .btn,
    .contact-content .btn {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #012a4a;
      color: #fff;
    }

    .header-container .inner-section .content a:hover {
      background-color: #fff;
      color: #012a4a;
    }

    .contact-content a:hover {
      background-color: #fff;
      color: #012a4a;
    }

    .view a {
      margin-top: 10px;
      padding: 5px 20px;
      font-size: 16px;
      background-color: #012a4a;
      color: #fff;
    }

    .view a:hover {
      background-color: #fff;
      color: #012a4a;
    }

    /*-----aboutsection-----*/
    .about-section {
      color: #333;
      background-color: #fff;
    }

    .about-section h1 {
      text-align: center;
      padding: 30px 0 30px 0;
      font-weight: bold;
      color: #012a4a;
    }

    .about-section .inner-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0;
    }

    .about-section .inner-section .content {
      width: 50%;
    }

    .about-section .inner-section .content p {
      font-size: 16px;
    }

    .inner-section .picture {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .inner-section .picture img {
      width: 250px;
      height: auto;
    }

    .skills-section {
      background-color: #012a4a;
      color: #fff;
      clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    }

    .skills-section .inner-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 80px 0;
    }

    .outer-circle {
      position: relative;
      height: 500px;
      width: 500px;
      background-color: #fff;
      border-radius: 250px;
      background-color: #f5f5f5;
      padding: 25px;
    }

    .inner-circle {
      position: absolute;
      height: 100px;
      width: 100px;
      background-color: skyblue;
      border-radius: 50px;
      border: 1px solid black;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1e3d59;
      color: #f5f5f5;
    }

    .exp {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }

    .inner-circle:hover .tooltiptext {
      visibility: visible;
    }

    .inner-circle i {
      font-size: 50px;
    }

    #one {
      top: 10px;
      left: 200px;
    }

    #two {
      bottom: 10px;
      left: 200px;
    }

    #three {
      top: 200px;
      left: 10px;
    }

    #four {
      bottom: 200px;
      right: 10px;
    }

    #five {
      top: 200px;
      left: 200px;
    }

    #six {
      top: 70px;
      left: 70px;
    }

    #seven {
      top: 70px;
      right: 70px;
    }

    #eight {
      bottom: 70px;
      left: 70px;
    }

    #nine {
      bottom: 70px;
      right: 70px;
    }

    .projects-section {
      color: #333;
    }

    .projects-section h1 {
      text-align: center;
      padding: 50px 0 20px 0;
      font-weight: bold;
      color: #012a4a;
    }

    .projects-section .inner-section {
      display: grid;
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
      grid-gap: 20px;
      padding: 40px 0 80px 0;
    }

    .projects-section .inner-section .project {
      border: 1px solid white;
      padding: 20px;
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
      color: #333;
      -webkit-transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
    }

    .view {
      text-align: left;
    }

    .projects-section .inner-section .project:hover {
      transform: translateY(-10px);
      cursor: pointer;
    }

    .projects-section .inner-section .project .button-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .project-button i {
      color: #012a4a;
      font-size: 20px;
    }

    .projects-section .inner-section .project .button-row h4 {
      font-size: 20px;
      padding: 10px 0;
    }

    .projects-section .inner-section .project .project-details p {
      font-size: 15px;
      padding: 10px 0;
    }

    .projects-section .inner-section .project .tools-used ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      padding: 0;
    }

    .projects-section .inner-section .project .tools-used ul li {
      font-size: 14.5px;
      margin-right: 20px;
    }

    .contact-section h1 {
      text-align: center;
      padding: 50px 0 0 0;
      color: #333;
      font-weight: bold;
      color: #012a4a;
    }

    .contact-section .inner-section {
      display: block;
      justify-content: center;
      align-items: center;
      width: 30%;
      margin: 0 auto;
      text-align: center;
      padding: 30px 0 60px 0;
    }

    .contact-section .inner-section .contact-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .contact-section .inner-section .contact-icon .icon {
      margin-right: 20px;
    }

    .contact-section .inner-section .contact-icon .icon a {
      text-decoration: none;
      color: #012a4a;
    }

    .contact-section .inner-section .contact-content p {
      padding: 20px 0;
      font-family: 'Poppins', sans-serif;
    }

    footer {
      background-color: #012a4a;
      color: #fff;
    }

    footer p {
      font-size: 14px;
      text-align: center;
      padding: 20px 0;
      margin: 0;
      font-family: 'Fira Code', monospace;
    }

    footer hr {
      width: 70%;
      margin: 0 auto;
    }
  }